:root {
	--backgroundColor: #ffffff;
	--textColor: #222222;
	--linkColor: #488DC7;
	--highlightColor: yellow;
	--lineColor: #488DC7;
	--iconShadowColor: #222222;
}

@media (prefers-color-scheme: dark) {
	:root {
		--backgroundColor: #222222;
		--textColor: #ffffff;
		--linkColor: #cc8888;
		--highlightColor: #660;
		--lineColor: #cccc33;
		--iconShadowColor: yellow;
	}
}


body {
	font-family: "Myriad Pro", "MyriadPro", "Helvetica Neue", "M PLUS Rounded 1c", "游ゴシック", "YuGothic", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", Meiryo, -apple-system, BlinkMacSystemFont, sans-serif;
	background-color: var(--backgroundColor);
	color: var(--textColor);
}

a {
	color: var(--linkColor);
}

.vcard rt {
	font-size: 0.5em;
}

/* for bootstrap */
li.list-group-item {
	background-color: var(--backgroundColor);
	color: var(--textColor);
}

section>h2 {
	border-bottom: dashed 1px var(--lineColor);
}

section:before {
	padding-top: 70px;
	content: "";
	display: block;
}

section#me {
	padding: 32px;
	border-radius: 34px;
	background: var(--backgroundColor);
	box-shadow: 12px 12px 24px #c5c5c5,
		-12px -12px 24px #ffffff;
}

.license-icon {
	font-size: 1.5em;
	color: var(--linkColor);
}

.publication-icon {
	font-size: 1.5em;
	color: var(--linkColor);
	width: 1.2em;
}

.link-icon {
	color: var(--linkColor);
}

#twitter-tomb {
	font-size: 2em;
	padding: 0.4em .2em 0.1em 0.4em;
}

a.btn {
	background-color: var(--backgroundColor);
}

footer>hr {
	background-color: var(--linkColor);
}

span.keyinfo {
	font-family: monospace;
	font-size: xx-small;
	color: #888;
	overflow-wrap: break-word;
}

span.activeinfo {
	color: var(--linkColor);
}

span.highlight {
	background-color: var(--highlightColor);
}

img.icon-shadow {
	box-shadow: .3rem .3rem 1rem var(--iconShadowColor) !important;
}